<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="stylesheets/style.css">
    <title>Bienvenidos</title>
  </head>
  <body>
    <header>
      <section class="title">
        <h1>Zona de Administración</h1>
      </section>
      <section class="logos">
        <img src="./images/Logos_header.png" alt="Logos del Instituto de Bioingenieria, de sonoUno y de ITeDA" />
      </section>
    </header>

    {{{body}}}

    <footer>
      <section class="logos">
        <img src="./images/Logos_footer.png" alt="Logos de la Universidad de mendoza, la Universidad Tecnológica Nacional - regional Mendoza y  CONICET" />
      </section>
    </footer>

    
  </body>
</html>
