* {
    padding: 0px;
    margin: 0px;
}

body {
    background-color: azure;
    font-family: 'Lucida Sans' sans-serif;
}

header {
    display: grid;
    background-color: #15297c;
    padding: 20px 10px 20px 10px;
    margin: auto;
    grid-template-areas: 
    "title logos";
    grid-template-columns: 2fr 200px;
}

.title {
    grid-area: title;
    font-size: large;
    color: azure;
    text-align: justify;
    /*vertical-align: baseline;*/
}

.logos {
    grid-area: logos;
    display: flex;
    justify-content: space-between;
    width: 100px;
    height: 100px;
}

footer {
    padding: 20px 10px 20px 10px;
    margin: auto;
    background-color: #15297c;
}